@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&family=Sedan:ital@0;1&display=swap');


*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: beige;
    height:100vh;
    font-family: "Rajdhani", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color:#2d494a;
    display:flex;
    justify-content: center;
    align-items:center;
    overflow-y: scroll;
}
.container{
    width:75vw;
    min-height:80vh;
    height: auto; /* for making the container responsive */
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:center;
    background-color: blanchedalmond;
    border-radius: 12px;
    padding:20px 30px;
    box-shadow:2px 2px 6px rgb(211, 211, 211);
    text-align: center;
    font-family: "Rajdhani", sans-serif;
}
.container p{
    font-size: large;
    margin-bottom: 20px;
}
.container h1{
    font-size: 3em;
    font-weight: 600;
    margin-bottom: 15px;
    font-family: "Rajdhani", sans-serif;
}

.addCardBtn {
    height:30px;
    width:180px;
    background-color: #416567 ;
    color:azure;
    border-radius:6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 350;
    margin-bottom:30px;
    font-family: "Rajdhani", sans-serif;
}

.addCardBtn:hover{
    background-color:#224548;
    color:rgb(239, 246, 246);
    /* box-shadow:2px 2px 6px #476567; */
    cursor:default;
}

input:focus {
    outline:0.5px solid #416567;
    color:#416567;
}

.cardContainer{ 
    width: 70vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;  
}

.card {
    position: relative; /* Ensure relative positioning for absolute positioning of child elements */
    height: auto; /* Set height to auto to accommodate dynamic content */
    width: 200px;
    background-color: rgb(255, 255, 255);
    border-radius: 6px;
    margin: 15px; /* Adjust margin for better spacing */
    padding: 10px;
    font-family: "Rajdhani", sans-serif;
    font-weight: 350;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nameCard {
    padding: 1px 4px;
    font-weight: 500;
    background-color: #ffffff;
    border-radius: 6px;

}

.nameCard:focus {
    outline:none;
}

.nameBtn {
    height: 30px;
    width: 120px;
    background-color: #416567 ; 
    color:azure;
    font-family: "Rajdhani", sans-serif;
    font-weight: 450;
    border-radius:6px;
    border:none;
    margin-top: 10px;

}

.playerInput, .playerScore{
    width: 80%;
    padding: 5px;
    font-family: "Rajdhani", sans-serif;
    border: none;
    border-bottom: 1px solid grey;
    background-color: azure;
    margin-top: 10px;
}

.playerInput:focus{
    border: none;
    border-bottom: 1px solid grey;
    outline: none;
}

.playerInput::placeholder{
    font-family: "Rajdhani", sans-serif;
    color: rgb(187, 187, 187);
}

.playerScore:focus{
    border: none;
    border-bottom: 1px solid grey;
    outline: none;
}

.playerScore::placeholder{
    color: rgb(187, 187, 187);
}

.card li {
    list-style: none;
    margin-top: 10px;
    color:416567;
    background-color: rgb(241, 235, 227);
    border-radius:6px;
    padding:2px 4px;
    font-weight: 400;
}
