*{
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body { 
    width: 100vw;
    height:100vh;
    background-color: #e3dfdf;
    font-family: "Hanken Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    margin: 0;
    -webkit-font-smoothing: antialiased;
}

header {
    width: 100%;
    margin: 0;
    padding: 0.5rem 1rem;
    background-color: #e3dfdf;
    box-shadow: 0 3px 2px -2px rgba(65, 65, 65, 0.2);
}

#logo {
    margin: 0;
    padding: 0.5rem 0;
    font-size: larger;
}

main {
    width: 100%;
    height: 100%;
}

main nav {
    display: flex;
    flex-direction: column;
}

.nav-sports-categories {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1rem;
    padding-bottom: 0.5rem;
}

.nav-cards {
    display: flex;
    align-items: center;
    height: 2.25rem;
    width: auto;
    border-radius: 1.25rem;
    /* color: #d5d3d3; */
    padding: 0.1rem 1.25rem 0.02rem 1.25rem;
    margin: 0 0.80rem;
    font-size: 0.8rem;
    font-weight: 600;
    letter-spacing: 0.02rem;
    overflow: hidden;
    transition: all .3s;
    position: relative;
    z-index: 2;
    transform: translateZ(0);

    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #bcbcbc;
        border-radius: 1.5rem;
        z-index: 0;
      }
    &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background-color: #a6a6a6;
        transition: all .3s;
        border-radius: 1.5rem;
        z-index: 1;
      }  
      &:hover {
        cursor: pointer;
        /* color: #f3f2f2; */
        &:before {
          width: 100%;
        }
      }  
}

.nav-cards-label {
    color: #4f4f4f;
    position: relative;
    z-index: 2;
  }

.nav-cards.active .nav-cards-label {
    color: #323232; /* darker color for active state */
}  

.nav-cards.active::after {
    background-color: #a6a6a6;
}

.nav-cards-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    padding-right: 0.25rem;
    margin-bottom: 0.1rem;
    z-index: 2;
}

.nav-cards.active .nav-cards-icon svg {
    /* stroke: #323232;  */
    /* Optionally, also set fill if your SVG uses fill for the icon color */
    fill: #323232;
}

#cricket-icon, #rugby-icon, #motorsport-icon, #mma-icon {
    height: 1rem;
    width: 1.2rem;
}

#football-icon, #basketball-icon {
    height: 1rem;
    width: 1.2rem;
}

#tennis-icon {
    height: 1rem;
    width: 1.2rem;
}

.main-container.visible {
    width:30%;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0efef;
    border-radius: 0.75rem;
    padding: 0.5rem 0;
}

.main-container.hidden {
    display: none;
}

#container-status-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-bottom: 1.5px solid #c3c1c1; 
    padding: 0.5rem 0;
}

.container-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.75rem;
    padding: 0.04rem 1rem 0.02rem 1rem;
    border: none;
    border-radius: 0.8rem;
    background-color: #dcdada;
    margin: 0 1rem;
    font-size: 0.8rem;
    color: #5c5b5b;
    transition: all 0.2s ease;
}

.container-buttons:hover {
    cursor: pointer;
    background: #acacaa;
    color: #4e4b4b;
}

.container-buttons.active {
    background-color: #383636;
    color: #d5d3d3;
}

.container-buttons:active {
    transform: scale(0.95);
}

#fixtures-container {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.football-match-card {
    width: 100%;
    aspect-ratio: 3 / 1.28;
    background: #ffffff;
    border-radius: 0.75rem;
    margin: 1rem 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.fixture-card-info {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    gap: 1rem;
    padding: 1rem 1rem 0rem 1rem;
    /* height: 75%; */
    flex-grow: 3;
    position: relative;
}

.home-team, .away-team {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100%;
    justify-content: center;
    padding: 0.5rem;
    margin-top: 0.5rem;
}

.home-team-logo, .away-team-logo {
    width: 2.5rem;
    height: 2.5rem;
    background-size: cover;
    background-position: center;
    margin-bottom: 0.75rem;
  }

.fixture-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: relative; 
}

.match-status {
    border-radius: 0.8rem;
    padding: 0.5rem 0.85rem 0.35rem 0.85rem;
    margin-bottom: 1rem;
    font-size: 0.8rem;
    background-color: #4d4d4d;
    color: #cecfc9;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}
  
.score-container {
    display: flex;
    justify-content: center;
    gap: 0.75rem;
    font-size: 2rem;
    margin-top: 0;
}

.scheduled-time-container {
    text-align: center;
}

.football-match-info {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    padding: 0.5rem 1rem;
    font-size: 0.75rem;
    color: #777;
    border-top: 1.5px dashed #b2b0b0;
    width: 100%;
    box-sizing: border-box;
    flex-grow: 1;
}

li a {
    font-family: 'MyCustomFont', sans-serif;
    font-weight: 400;
}

nav li {
    list-style-type: none;
}

.home-team-name, .away-team-name {
    font-size: 0.80rem;
}

.league-info {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    grid-column: 1;
    justify-self: start;
    max-width: 100%;
    padding-right: 1rem;
}

.league-name {
    text-align: center;
    font-size: 0.75rem;
    color: #777;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0.25rem 0;
}

.venue-info {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    grid-column: 3;
    justify-self: end;
    max-width: 100%;
}

.venue {
    text-align: center;
    font-size: 0.75rem;
    color: #777;    
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0.25rem 0;
}

.league-emblem, .venue-flag {
    width: 1.25rem;
    height: 1.25rem;
    background-size: cover;
    background-position: center;
}

.cricket-match-card {
    width: 100%;
    background: #ffffff;
    border-radius: 0.75rem;
    margin: 1rem 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    box-shadow: 0 1px 3px rgba(41, 41, 41, 0.12);
}

.cricket-fixture-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 0.5rem 1rem 0.15rem 1rem;
    flex-grow: 3;
}

.cricket-icon {
    width: 1rem;
    height: 1rem;
    margin: 0.1rem 0 0.30rem 0;
}

.competition-info {
    font-size: 0.8rem;
    font-weight: 600;
    color: #6c6b6b;    
}

.cricket-match-status {
    margin-bottom: 0.3rem;
    font-size: 0.75rem;
    color: #777;    
}

.cricket-match-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    font-size: 0.75rem;
    color: #777;
    border-top: 1.5px dashed #b2b0b0;
    flex-grow: 1;
    height: 2.5rem;
}

.cricket-team-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1rem 0 1rem 0;
}

.cricket-format, .cricket-venue-info {
    display: flex;
    align-items: center;
    max-width: 100%;
    padding: 0 1rem;
    font-size: 0.75rem;
    color: #777;    
}

.versus-element {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #c4c5be;
    width: 1.5rem;
    height: 1.5rem;
    font: 0.8rem;
}

.cricket-home-team, .cricket-away-team {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0.30rem;
    margin: 0 1.5rem;
}

.cricket-home-team-score-container, .cricket-away-team-score-container {
    display: flex;
    flex-direction: column;
    font-size: 0.75rem;
    color: #777; 
    line-height: 0.9rem;
    padding-top: 0.25rem;
}

.cricket-home-team-logo, .cricket-away-team-logo {
    width: 4.5rem;
    height: 2rem;
    object-fit: contain;
}

.cricket-home-team-name, .cricket-away-team-name {
    font-size: 1rem;
    font-weight: bold;
    color: #777; 
}

.schedule-container {
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
    color: #646464;
}

.scheduled-time {
    padding: 0 0.25rem;
}

.format-icon, .location-icon {
    width: 1rem;
    height: 1rem;
    margin: 0 0.5rem;
}

.motorsport-container.visible{
    width: 40%;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1.5rem;
}

.motorsport-container.hidden {
    display: none;
}

.motorsport-header-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-bottom: 1.5px solid #c3c1c1;
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
                      linear-gradient(rgba(220, 53, 30, 0.75), rgba(220, 53, 30, 0.75)),
                      url('../assets/logos/f1/Ferrari\ SF-23.jpg');
    background-position: center center;
    background-size: cover;
    border-radius: 1.5rem 1.5rem 0 0;
    padding: 1rem;
}

.motorsport-header-info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2.5rem;
}

.motorsport-header-main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #b2b0b0;
    font: bold;
}

#f1-logo {
    width: 6.25rem;
    height: 2.5rem;
}

.motorsport-main {
    width: 100%;
    background-color: #f0efef;
    padding: 0.5rem;
}

.motorsport-race-card {
    width: 100%;
    background: #ffffff;
    border-radius: 0.75rem;
    margin: 1rem 0;
    padding: 0.5rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    box-shadow: 0 1px 3px rgba(41, 41, 41, 0.12);   
}

.motorsport-race-info {
    width: 100%;
    display: flex;
    gap: 0.5rem;
    justify-content: flex-start;
}

.motorsport-round-info{
    display: flex;
    flex-direction: column;
}

.country-flag-logo{
    width: 2rem;
    height: 2rem;
}

@media screen and (max-width: 768px) {
    .main-container {
        width: 90%;
    }

    .fixture-card {
        aspect-ratio: 3 / 1.5;
    }

    .home-team-logo, .away-team-logo {
        width: 2rem;
        height: 2rem;
    }

    .score {
        font-size: 1rem;
    }

    .home-team-name, .away-team-name {
        font-size: 0.75rem;
    }

    .status {
        font-size: 0.7rem;
        padding: 4px 0.6rem;
    }

    .motorsport-race-card {
        flex-direction: column;
    }

    .motorsport-race-info,
    .motorsport-circuit-image {
        width: 95%;
        min-width: unset;
        margin: 0.5rem 0;
        height: auto;
    }

    .motorsport-race-schedule {
        position: relative;
        top: auto;
        bottom: auto;
        right: auto;
        width: 100%;
        margin-top: 0.5rem;
        border-radius: 0 0 1.5rem 1.5rem;
    }

    .circuit-bg-image {
        border-radius: 1.5rem 1.5rem 0 0;
    }

}

@media screen and (max-width: 480px) {
    .fixture-card {
        aspect-ratio: 3 / 1.7;
    }

    .fixture-card-info {
        gap: 0.5rem;
    }

    .league-name, .venue {
        font-size: 0.7rem;
    }
}

.spinner {
    width: 1.5rem;
    height: 1.5rem;
    border: 4px solid #b1b0b0b3;
    border-top: 4px solid #383636;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin: 2rem auto;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  /* Error message styling */
  .error {
    text-align: center;
    color: #777;
    font-size: 0.9rem;
    margin: 2rem;
  }
