/* Importing Multiple Weights */
@font-face {
    font-family: 'MyCustomFont';
    src: url('../assets/fonts/fonnts.com-oakesgrotesk-light-webfont.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MyCustomFont';
    src: url('../assets/fonts/fonnts.com-oakesgrotesk-regular-webfont.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MyCustomFont';
    src: url('../assets/fonts/fonnts.com-oakesgrotesk-medium-webfont.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MyCustomFont';
    src: url('../assets/fonts/fonnts.com-oakesgrotesk-bold-webfont.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

body { 
    background-color: #edf1f6;
    font-family: 'MyCustomFont', sans-serif;
    font-weight: 400;
    display:flex;

}

main {
    width: 100vw;
    height: 100vh;
    padding: 1rem;
}

main section {
    margin-left: 2rem;
}

main nav {
    display: flex;
    justify-content: space-evenly;
}

.nav-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    width:auto;
    border: 1px solid #c9c9c9;
    border-radius: 1rem;
    background-color: transparent;
    color: #747474;
    padding: 0.08rem 1.25rem 0rem 1.25rem;
    margin: 0 0.75rem;
}

.nav-cards:hover {
    cursor: pointer;
    background: #434343;
    border: 1px solid #434343;
    color: #e4e4e4;
}

#fixture-card-template {

}

.fixture-card-info {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

.home-team, .away-team {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.home-team-logo, .away-team-logo {
    width: 40px;
    height: 40px;
    background-color: transparent;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    margin-bottom: 0.5rem;
  }

.fixture-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
  
.score {
    display: flex;
    gap: 0.25rem;
    font-weight: bold;
}

.match-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    padding: 0.75rem 1rem;
    font-size: 0.9rem;
    color: #777;
}

.fixture-card {
    background: #ffffff;
    border-radius: 12px;
    max-width: 350px;
    margin: 1rem auto;
    overflow: hidden;
  }

li a {
    font-family: 'MyCustomFont', sans-serif;
    font-weight: 400;
}

nav li {
    list-style-type: none;
}