* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #e3dfdf;
    font-family: "Hanken Grotesk", sans-serif;
    font-optical-sizing: auto;
    margin: 0;
    overflow-x: hidden;
}

header {
    width: 100%;
    margin: 0;
    padding: 0.5rem 1rem;
    background-color: #e3dfdf;
    box-shadow: 0 3px 2px -2px rgba(65, 65, 65, 0.2);
}

#app-logo {
    margin: 0;
    width: 6rem;
    height: 2.5rem;
}

main {
    width: 100%;
    height: 100%;
}

main nav {
    display: flex;
    flex-direction: column;
}

.nav-sports-categories {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1rem;
    padding-bottom: 0.5rem;
}

.nav-cards {
    display: flex;
    align-items: center;
    height: 2.25rem;
    width: auto;
    border-radius: 1.25rem;
    padding: 0.1rem 1.25rem 0.02rem 1.25rem;
    margin: 0 0.80rem;
    font-size: 0.8rem;
    letter-spacing: 0.02rem;
    overflow: hidden;
    background-color: #cecece;
    transition: transform 0.15s ease-out;
    will-change: transform;
    backface-visibility: hidden;
    transform: translateZ(0);

    &:active {
        transform: scale(0.97);
        color: #434343;

    }

    &:hover {
        cursor: pointer;
        background-color: #a8a8a8;
    }
}

.nav-cards-label {
    color: #4f4f4f;
    position: relative;
    font-weight: 600;
    margin-bottom: 0.15rem;
}

.nav-cards.active {
    background-color: #a8a8a8;
}

.nav-cards.active .nav-cards-label {
    color: #434343;
    font-weight: 700;
}

.nav-cards-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    padding-right: 0.25rem;
    margin-bottom: 0.1rem;
}

.nav-cards.active .nav-cards-icon svg {
    fill: #434343;
}

#cricket-icon,
#rugby-icon,
#motorsport-icon,
#mma-icon {
    height: 1rem;
    width: 1.2rem;
}

#football-icon,
#basketball-icon {
    height: 1rem;
    width: 1.2rem;
}

#tennis-icon {
    height: 1rem;
    width: 1.2rem;
}

.main-container.visible {
    width: 30%;
    margin: 0 auto 1rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0efef;
    border-radius:  0 0 0.75rem 0.75rem;
    padding: 0.5rem 0;
    font-weight: 400;
}

.main-container.hidden {
    display: none;
}

.sport-header-container.visible {
    display: block;
    width: 30%;
    height: 9rem;
    border-radius: 0.75rem 0.75rem 0 0;
    /* background-image: linear-gradient(rgb(0 0 0 / 12%), rgb(0 0 0 / 39%)), linear-gradient(rgba(58, 163, 105, 0.196), rgba(97, 236, 148, 0.75)), url(../assets/logos/football/football_header.avif); */
    background-size: cover;
    background-position: center center;
    margin: 1rem auto 0 auto;
}

.sport-header-container.hidden {
    display: none;
}

.sport-header-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.75rem 0.75rem 0 0;
}

#container-status-buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    width: 30%;
    border-bottom: 1.5px solid #c3c1c1;    
    margin: 0 auto;
    padding: 0.5rem 0 0.5rem 0rem;    
    background-color: #f0efef;
}

.container-buttons, .motorsport-standings-container-info-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.75rem;
    padding: 0.04rem 1rem 0.02rem 1rem;
    border: none;
    border-radius: 0.8rem;
    background-color: #dddddd;
    margin: 0 1rem;
    font-size: 0.8rem;
    color: #5c5b5b;
    transition: all 0.2s ease;
    font-family: "Hanken Grotesk", sans-serif;
}

.container-buttons:hover, .motorsport-standings-container-info-buttons:hover {
    cursor: pointer;
    background: #acacaa;
    color: #4e4b4b;
}

.container-buttons.active, .motorsport-standings-container-info-buttons.active {
    background-color: #383636;
    color: #d5d3d3;
}

.container-buttons:active {
    transform: scale(0.95);
}

#fixtures-container {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#fixtures-container p {
    color: #777;
}

.football-match-card {
    width: 100%;
    background: #ffffff;
    border-radius: 0.75rem;
    margin: 1rem 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    box-shadow: 0 1px 3px rgba(41, 41, 41, 0.12);
    align-items: center;
}

.football-fixture-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.football-icon {
    width: 1.1rem;
    height: 1.1rem;
    margin: 0.5rem 0rem;
}

.fixture-card-info {
    display: grid;
    grid-template-columns: 1fr auto 1fr; 
    align-items: flex-start;
    flex-grow: 3;
    position: relative;
}

.home-team {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 6rem;
    justify-self: end;
    min-height: 4rem;
}

.away-team {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 6rem;
    justify-self: start;
    min-height: 4rem;
}

.home-team-logo,
.away-team-logo {
    width: 3rem;
    height: 3rem;
    background-color: #e5e3d44f;
    background-size: cover;
    background-position: center;
    margin-bottom: 0.25rem;
    border-radius: 50%;
    padding: 5px;
}

.fixture-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: relative;
}

.football-match-status {
    margin-top: 0.75rem;
    margin-bottom: 0.3rem;
    font-size: 0.80rem;
    color: #777;
    text-align: center;
    white-space: normal;
    word-wrap: break-word;
    max-width: 100%;
}

/* .score-container {
    justify-content: center;
    gap: 0.4rem;
    font-size: 2rem;
    font-weight: 600;
    color: #676767;
    margin-top: 0;
    margin-bottom: 0.8rem;
    margin-right: 1rem;
    border-radius: 1rem;
    background: #f6f4f4;
    padding: 0.13rem 1.1rem;
} */

.score-container {
    display: grid;              
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    justify-items: center;
    gap: 0.4rem;
    font-size: 2rem;
    font-weight: 600;
    color: #676767;
    margin-top: 0;
    margin-bottom: 0.8rem;
    margin-right: 0;              
    border-radius: 1rem;
    background: #f6f4f4;
    padding: 0.13rem 1.1rem;
}

.home-team-score,
.away-team-score {
    min-width: 2ch;                
    text-align: center;
}

.football-versus-element {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #e5e5e5;
    width: 1.5rem;
    height: 1.5rem;
    font-size: 0.8rem;
    text-align: center;
    line-height: 1.5rem;
}

.scheduled-time-container {
    text-align: center;
}

.football-match-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    border-top: 1.5px dashed #b2b0b0;
    flex-grow: 1;
    height: 2.5rem;
    width: 100%;
}

li a {
    font-family: "Hanken Grotesk", sans-serif;
    font-weight: 400;
}

nav li {
    list-style-type: none;
}

.home-team-name,
.away-team-name {
    font-size: 1.1rem;
    font-weight: bold;
    color: #777;
    white-space: normal;
    word-wrap: break-word;
    line-height: 1.2;
    margin: 0;
}

.league-info,
.venue-info {
    display: flex;
    align-items: center;
    max-width: 100%;
    font-size: 0.75rem;
    color: #959595;
}

.league-emblem,
.venue-flag {
    width: 1.5rem;
    height: 1.5rem;
    margin: 0 0.5rem;
}

.cricket-match-card {
    width: 100%;
    background: #ffffff;
    border-radius: 0.75rem;
    margin: 1rem 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    box-shadow: 0 1px 3px rgba(41, 41, 41, 0.12);
}

.cricket-fixture-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 0.5rem 1rem 0.15rem 1rem;
    flex-grow: 3;
}

.cricket-icon {
    width: 1rem;
    height: 1rem;
    margin: 0.1rem 0 0.30rem 0;
}

.competition-info {
    font-size: 0.9rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    color: #6c6b6b;
}

.cricket-match-status {
    margin-bottom: 0.2rem;
    font-size: 0.80rem;
    color: #777;
}

.cricket-match-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    font-size: 0.75rem;
    color: #777;
    border-top: 1.5px dashed #b2b0b0;
    flex-grow: 1;
    height: 2.5rem;
}

.cricket-team-info {
    /* display: flex;
    justify-content: space-around; */

    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    justify-items: center;
    gap: 1rem;
    margin: 1rem 0 1rem 0;
}

.cricket-format,
.cricket-venue-info {
    display: flex;
    align-items: center;
    max-width: 100%;
    padding: 0 1rem;
    font-size: 0.75rem;
    color: #777;
}

.cricket-versus-element {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #e5e5e5;
    width: 1.5rem;
    height: 1.5rem;
    font-size: 0.8rem;
    text-align: center;
    line-height: 1.5rem;
}

.cricket-home-team,
.cricket-away-team {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0.30rem;
    margin: 0 1.5rem;
}

.cricket-home-team-score-container,
.cricket-away-team-score-container {
    /* display: flex;
    flex-direction: column; */

    display: grid;
    grid-template-columns: auto auto;
    grid-auto-rows: auto;
    column-gap: 0.5rem;
    row-gap: 0.2rem;
    font-size: 0.75rem;
    color: #777;
    line-height: 0.9rem;
    padding-top: 0.25rem;
}

.cricket-home-team-score,
.cricket-away-team-score,
.cricket-home-team-overs,
.cricket-away-team-overs {
    /* display: inline-flex;
    gap: 0.5rem;                  
    align-items: baseline; */
    display: contents;
}

.cricket-home-team-score span,
.cricket-away-team-score span,
.cricket-home-team-overs span,
.cricket-away-team-overs span {
    text-align: center;
    min-width: max-content;
}

.cricket-home-team-logo,
.cricket-away-team-logo {
    width: 4.5rem;
    height: 2rem;
    object-fit: contain;
}

.cricket-home-team-name,
.cricket-away-team-name {
    font-size: 1rem;
    font-weight: bold;
    color: #777;
}

.schedule-container {
    justify-content: center;
    align-items: center;
    margin-bottom: 0.2rem;
    font-size: 0.80rem;
    color: #777;
}

.scheduled-time {
    padding: 0 0.25rem;
}

.format-icon,
.location-icon {
    width: 1rem;
    height: 1rem;
    margin: 0 0.5rem;
}

.motorsport-container.visible {
    width: 40%;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1.5rem;
}

.motorsport-container.hidden {
    display: none;
}

.motorsport-header-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-bottom: 1.5px solid #c3c1c1;
    justify-content: space-between;
    background-image: linear-gradient(rgba(0, 0, 0, 0.48), rgba(0, 0, 0, 0.48)), linear-gradient(rgba(33, 32, 137, 0.75), rgba(57, 30, 212, 0.75)), url(../assets/images/f1//Ferrari\ SF-23.jpg);
    background-position: center 40%;
    background-size: cover;
    border-radius: 1.5rem 1.5rem 0 0;
    padding: 1rem 0rem 0rem 0rem;
    height: 10.5rem;
}

.motorsport-header-info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3.5rem;
}

.motorsport-header-main {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#f1-logo {
    width: 7.75rem;
    height: 3rem;
}

.motorsport-header-button {
    width: 100%;
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    color: #b2b0b0;
    padding: 0.5rem 1rem;
    transition: all 0.2s ease-in-out;
}

.motorsport-header-button:hover {
    color: #b1b1b1;
}

.motorsport-header-button.active {
    color: #eeeeee;
    border-bottom: 3px solid #eeeeee;
}

.motorsport-main {
    width: 100%;
    background-color: #f0efef;
    padding: 0.5rem;
    border-radius: 0 0 1.5rem 1.5rem;
}

.motorsport-race-card {
    width: 100%;
    border-bottom: 0.9px solid #58575747;
    padding: 0.5rem;
    margin-bottom: 0;
    min-height: 3rem; 
    overflow: hidden;
}

.motorsport-race-card:hover {
    background-color: rgba(0, 0, 0, 0.02);
    border-radius: 0.25rem;
}

.motorsport-race-info-container {
    width: 100%;
    display: flex;
    gap: 0.5rem;
    justify-content: space-between;
}

.motorsport-race-info {
    width: 100%;
    display: flex;
    gap: 0.5rem;
    justify-content:flex-start;
}

.motorsport-round-info {
    display: flex;
    flex-direction: column;
}

.motorsport-race-name {
    font-size: 0.95rem;
    font-weight: 600;
    color: #777;
}

.motorsport-race-date {
    font-size: 0.80rem;
    font-weight: 500;
    color: #777;
}

.country-flag-logo {
    width: 2rem;
    height: 2rem;
}

.motorsport-round-winner-container {
    display: flex;
    align-items: center;
}

#motorsport-round-winner {
    margin: 0 0.5rem 0 0.5rem;
    font-size: 0.85rem;
    font-weight: 500;
    color: #777;
    min-width: max-content;
}

.motorsport-standings-container-info.visible {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 0 0.25rem 0;
    border-bottom: 0.9px solid #58575747;
}

.motorsport-standings-container-info.hidden{
    display: none;
}

#motorsport-standings-container-btn-info {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 0.5rem 1.25rem 0;
}

.motorsport-standings-container-info-buttons {
    margin: 0 0.5rem;
}

#motorsport-standings-container-table-info {
    display: grid;
    grid-template-columns: 2rem 1fr 3rem 3rem 3rem 4rem;
    grid-template-areas: 
        "pos entity wins poles pod pts";
    align-items: center;
    width: 100%;
    gap: 0.75rem;
    padding: 0 0.5rem 0 0;
    margin-bottom: 0.5rem;
}

#motorsport-standings-container-table-info p {
    margin: 0;
    text-align: center;
    white-space: nowrap;
}

#motorsport-standings-container-pos-info {
    grid-area: pos;
    text-align: left;
}

#motorsport-standings-container-entity-info {
    grid-area: entity;
    text-align: left;
    display: flex;
    padding-left: 0.6rem;
}

#motorsport-standings-container-wins-info {
    grid-area: wins;
}

#motorsport-standings-container-poles-info {
    grid-area: poles;
}

#motorsport-standings-container-podiums-info {
    grid-area: pod;
}

#motorsport-standings-container-points-info {
    grid-area: pts;
}

.motorsport-standings-container-table-info-data {
    display: contents; 
}

.motorsport-standings-main-container-card-left-container,
.motorsport-standings-main-container-card-right-container {
    display: contents; 
}

#motorsport-standings-main-container {
    display: grid;
    grid-template-columns: 2rem 1fr 3rem 3rem 3rem 4rem; 
    grid-template-areas: 
        "pos entity wins poles pod pts";
    align-items: center;
    width: 100%;
    gap: 0.75rem;
    padding: 0.5rem;
    margin-bottom: 0;
    min-height: 3rem; 
    overflow: hidden;
    border-bottom: 0.9px solid #58575747;
}

#motorsport-standings-main-container:hover {
    background-color: rgba(0, 0, 0, 0.02);
    border-radius: 0.25rem;
}

#motorsport-standings-main-container-entity-info {
    text-align: left;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 1;
    min-width: 0;
    color: #777;
}

#motorsport-standings-main-container-card-entity {
    grid-area: entity;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    min-width: 0;
}

#motorsport-standings-main-container-entity-info {
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 1;
    min-width: 0;
}

#motorsport-standings-main-container-wins-info {
    grid-area: wins;
}

#motorsport-standings-main-container-poles-info {
    grid-area: poles;
}

#motorsport-standings-main-container-podiums-info {
    grid-area: pod;
}

#motorsport-standings-main-container-points-info {
    grid-area: pts;
} 

.motorsport-standings-main-container-data {
    margin: 0;
    text-align: center;
    font-size: 0.85rem;
    font-weight: 500;
    color: #777;
}

#motorsport-standings-main-container-pos-info {
    grid-area: pos;
    text-align: left;
    font-weight: 600;
    min-width: 2rem;
}

#motorsport-standings-main-container-entity-img {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    object-fit: contain;
}

#motorsport-round-winner-image{
    width: 0.75rem;
    height: 0.75rem;
    object-fit: contain;
}

@media screen and (max-width: 768px) {
    .main-container.visible {
        width: 50%;
    }

    .fixture-card {
        aspect-ratio: 3 / 1.5;
    }

    .home-team-logo,
    .away-team-logo {
        width: 2rem;
        height: 2rem;
    }

    .score {
        font-size: 1rem;
    }

    .home-team-name,
    .away-team-name {
        font-size: 0.75rem;
    }

    .status {
        font-size: 0.7rem;
        padding: 4px 0.6rem;
    }

    .motorsport-race-card {
        flex-direction: column;
    }

    .motorsport-race-info,
    .motorsport-circuit-image {
        width: 95%;
        min-width: unset;
        margin: 0.5rem 0;
        height: auto;
    }

    .motorsport-race-schedule {
        position: relative;
        top: auto;
        bottom: auto;
        right: auto;
        width: 100%;
        margin-top: 0.5rem;
        border-radius: 0 0 1.5rem 1.5rem;
    }

    .circuit-bg-image {
        border-radius: 1.5rem 1.5rem 0 0;
    }

}

@media screen and (max-width: 480px) {
    .main-container.visible {
        width: 90%;
    }

    .fixture-card {
        aspect-ratio: 3 / 1.7;
    }

    .fixture-card-info {
        gap: 0.5rem;
    }

    .league-name,
    .venue {
        font-size: 0.7rem;
    }
}

.spinner {
    width: 1.5rem;
    height: 1.5rem;
    border: 4px solid #b1b0b0b3;
    border-top: 4px solid #383636;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin: 2rem auto;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.error {
    text-align: center;
    color: #777;
    font-size: 0.9rem;
    margin: 2rem;
}